senior_ds_test/clean_repo/senior_ds_test/data/train/accounts_data_train.json
senior_ds_test/clean_repo/senior_ds_test/data/train/enquiry_data_train.json
senior_ds_test/clean_repo/senior_ds_test/data/test/accounts_data_test.json
senior_ds_test/clean_repo/senior_ds_test/data/test/enquiry_data_test.json